# The versions, that I've used during the development. (might not be that important)

# python -m venv <myenvname>
# pip install -r requirements.txt

rsa == 4.7.2
lxml == 4.6.2
aiohttp == 3.7.4
beautifulsoup4 == 4.9.3